.header {
    width: 100%;
    height: 7vh;
    background-color: #61dafb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1076px) {
    .header {
        padding: 0.01rem;
        justify-content: center;
        align-items: center;
    }
}