.SkillWrapper {
    min-width: 17rem;
    max-width: 25rem;
    border: 1px solid red;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("https://htstatic.imgsmail.ru/pic_image/0efda7a7a24673153e86521d430076e3/840/526/2269298/");
    min-height: 20vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.inner button {
    max-height: content-box;
    padding: 5px;
    background-color: #424257;
    color: red;
}

