.NavbarWrapper {
    margin-right: 5.85%;

}


.container {
    width: 85%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 2em;

}
.container span {
    padding: 15px 0;
    font-size: 15px;
    display: inline-block;
    color: #fdfeff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (max-width: 1076px) {
    .NavbarWrapper {
        width: 90%;
        margin-right: 0;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}

