.NavbarWrapper {
    border: 1px solid red;
    margin-right: 5.85%;
}


.container {
    width: 85%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

@media (max-width: 1076px) {
    .NavbarWrapper {
        width: 90%;
        margin-right: 0;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}

