.mainWrapper {
    border: 1px solid rebeccapurple;
    background-color: #ffffff;
    /*    background-color: rgb(42, 42, 56);*/
    position: relative;
}


.mainContainer {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    height: 93vh;
    border: 2px solid rgb(42, 42, 56);

}

.text {
    max-width: 25rem;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0.2em;
    box-shadow: 0 0 10em rgb(86, 94, 119);
}


.photos {
    padding: 1rem;
    max-width: 25rem;
    background-color: burlywood;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10em rgb(86, 94, 119);
}


@media (max-width: 1076px) {
    .mainWrapper {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .photos {
        max-width: 25rem;
        max-height: 70vh;
    }

    .text {
        max-width: 25rem;
        max-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .text p {
        margin: 0.2em;
        padding: 0;
    }

    .text h2 {
        margin: 0.2em;
        padding: 0;
    }

    .text span {
        margin: 0.2em;
        padding: 0;
    }
}


