.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(40, 44, 52, 0.32);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    align-items: center;
}


@media (max-width: 1076px) {
    .container {
        width: 100%;
        align-items: center;
    }

}