.offersWrapper {
    background-color: rgba(40, 44, 52);
    display: flex;
    justify-content: center;
    z-index: 50;
    position: relative
}

.container {
    width: 90%;
    background-color: rgb(124, 123, 123);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}

.contact button {
    display: inline-block;
    padding: 1rem 6rem;
    background-color: #424257;
    color: white;
    margin-top: 1.5rem;
}

.contact h4 {
    background-color: #424257;
    color: white;
    padding: 1rem;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60vmin;
    border: 1px solid red;
    padding: 0.1rem;
    margin: 1rem;

}

.block div {
    min-width: 8vmin;
    height: 8vmin;
    background-color: #61dafb;
    padding-bottom: 1px;
}

